{{> navbar nombre = sesion.nombre idRol = sesion.cveRol}}

<br>

{{> search oCursos = cursos}}

<section style="padding:50px;">

  <h4>Todos los cursos</h4>
  <hr>
  {{#ifgt cursos 0}}
  <div class="card-columns">
    {{#each cursos}}
    <div class="card">
      <div align="center">
        <img class="card-img-top" src="/static/img/logo.png" style="width:250px; height:auto;" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <p>{{nombre}}</p>
        </h5>
        <details>
          <summary>Más información</summary>
          <p>{{descripcion}}</p>
        </details>

        <br>
        <br>

        <p class="card-text" style="float: left;">
          <i class="icon-calendar"></i>&nbsp;&nbsp;{{fecha}}
        </p>
        <p class="card-text" style="float: right;">
          <i class="icon-user"></i>&nbsp;&nbsp;{{nombreCompleto}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}

  <div align="center">
    <img src="/static/img/sin-cursos.png" style="width: 250px; height: auto;" alt="No hay cursos">
    <br><br>
    <h5>Aún no hay cursos</h5>
  </div>

  {{/ifgt}}

</section>