{{> navbar nombre = sesion.nombre idRol = sesion.cveRol cveUsuario = sesion.cveUsuario }}

<br>

{{> search oCursos = miscursos}}

<section style="padding:50px;">
  <h4>Tus cursos creados</h4>

  <a href="/curso"><button class="btn btn-primary">Crear curso</button></a>
  <hr>
  {{#ifgt miscursos 0}}
  <div class="card-columns">
    {{#each miscursos}}
    <div class="card">

      {{#if rutaImagen}}
      <div align="center">
        <img class="card-img-top" src="/static/uploads/img/{{rutaImagen}}" style="width:250px; height:auto;"
          alt="Card image cap">
      </div>
      {{else}}
      <div align="center">
        <img class="card-img-top" src="/static/img/logo.png" style="width:250px; height:auto;" alt="Card image cap">
      </div>
      {{/if}}


      <div class="card-body">
        <h5 class="card-title">
          <p>{{nombre}}</p>
        </h5>
        <details>
          <summary>Más información</summary>
          <p>{{descripcion}}</p>
        </details>

        <br>
        <br>

        <p class="card-text" style="float: left;">
          <i class="icon-calendar"></i>&nbsp;&nbsp;{{fecha}}
        </p>
        <br>
        <br>

        <div align="center">
          <ul style="display:block;">
            <a class="cursos_links_editar" href="/curso/editarCurso/{{cveCurso}}" style="text-decoration: none;">
              <i class="icon-edit" style="font-size: 35px; color: rgb(255, 223, 43);"></i>
              <!--Editar curso-->
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="cursos_links_eliminar" href="#" style="text-decoration: none;">
              <i class="icon-trash" style="font-size: 35px; color: rgb(219, 68, 68);"></i>
              <!--Eliminar curso-->
            </a>
          </ul>
        </div>

      </div>
    </div>
    {{/each}}

  </div>

  {{else}}

  <div align="center">
    <img src="/static/img/sin-cursos.png" style="width: 250px; height: auto;" alt="No hay cursos">
    <br><br>
    <h5>Aún no hay cursos creados</h5>
  </div>

  {{/ifgt}}

</section>

{{> footer }}