{{> navbar nombre = sesion.nombre idRol = sesion.cveRol cveUsuario = sesion.cveUsuario }}
<p name="cveusuario" id="{{sesion.cveUsuario}}" hidden>{{sesion.cveUsuario}}</p>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="itemsSecciones">
        {{#each dataCurso}}
        {{cveCurso}}
        <button class="accordion">{{nombre}}</button>
        <div class="panel2" id="panel">

            <ul style="padding: 0 0 0 0;">
                {{#each ../tema}}
                {{#ifeq ../cveSeccion secid}}
                {{#ifeq estate 1}}

                {{#ifeq2num cveTem ../../idTema}}

                <a href="/inicio/seguirCurso/{{cveCurso}}/{{cveTem}}">
                    <li
                        style=" padding-left: 5px; background-color : lightgreen; padding-top: 10px; padding-bottom: 10px;">
                        <input type="checkbox" name="terminado" id='{{cveTem}}' checked>

                        {{else}}
                        <a href="/inicio/seguirCurso/{{cveCurso}}/{{cveTem}}">
                    <li style=" padding-left: 5px; padding-top: 10px; padding-bottom: 10px;"><input type="checkbox"
                            name="terminado" id='{{cveTem}}' checked>
                        {{/ifeq2num}}


                        {{else}}
                        {{#ifeq2num cveTem ../../idTema}}
                        <a href="/inicio/seguirCurso/{{cveCurso}}/{{cveTem}}">
                    <li style="  padding-left: 5px; color: lightgreen; padding-top: 10px; padding-bottom: 10px;"><input
                            type="checkbox" name="terminado" id='{{cveTem}}'>

                        {{else}}
                        <a href="/inicio/seguirCurso/{{cveCurso}}/{{cveTem}}">
                    <li style="  padding-left: 5px; padding-top: 10px; padding-bottom: 10px;"><input type="checkbox"
                            name="terminado" id='{{cveTem}}'>
                        {{/ifeq2num}}
                        {{/ifeq}}
                        {{name}} </li>
                </a>
                <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                {{/ifeq}}
                {{/each}}
            </ul>
        </div>
        {{/each}}

    </div>

</div>
<a onclick="openNav()" class="btn-flotante">
    < </a>
        <main id="contenido">
            <p name="cursoid" id="{{cursoid}}" hidden>{{cursoid}}</p>

            {{#ifeq bandera.bandera 'fin'}}
            <div>
                <h1 class="centrar"> {{felicidades.nombre}}</h1>
            </div>
            <p name="idtema" id="term" hidden>term</p>
            {{else}}
            {{#each temaActual}}
            <div>

            </div>
            <div>

                <p name="idtema" id="{{cvetema}}" hidden>{{cvetema}}</p>


                <h2 class="centrar">Tema: </h2>
                <h3 style="text-align: center ;">{{nombre}}</h3>
            </div>
            <div>
                <p name="cursoid" id="{{cursoid}}" hidden>{{cursoid}}</p>
                <h2 class="centrar">Descripción</h2>
                <p style="margin-left: 50px; margin-right: 50px;">{{descripcion}}</p>

            </div>
            <div>
                <h2 class="centrar">Teoría</h2>
                <hr class="line ">
                <p>{{tema}}</p>
            </div>
            <div>

                <h2 class="centrar">Material</h2>
                <div style="padding-left: 33%; padding-right: 30% ;">
                    {{#if ../materiales}}
                    <ul style=" list-group border: 1px solid black;">

                        {{#each ../materiales}}
                        <li class="list-group-item listItem"><a href="/static/{{rutaMaterial}}"
                                download="{{nombreMaterial}}">{{nombreMaterial}}</a></li>
                        {{/each}}

                    </ul>
                    {{else}}
                    <div class="alert alert-danger" role="alert">
                        Este tema no tiene materiales
                    </div>

                    {{/if}}
                </div>


            </div>

            {{/each}}


            <div>
                <h2 class="centrar">Comentarios</h2>
                <hr class="line ">
                <div class="centrar" name="comments">

                </div>
                <div>
                    <hr class="line">

                    <button class="buttonest" onclick="comentar()">Dejar un comentario</button>

                </div>
            </div>

            {{/ifeq}}

        </main>
        <!-- The Modal -->
        <div id="myModal" class="modal2">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <label class="centrar">Comentar</label>
                <div>


                    <input class="modalComentario" name="Comentario" type="text" placeholder="Deja tu comentario">
                </div>
                <div class="btnsModal">
                    <button class="btnCerrarModal buttonwarn">Cancelar</button>
                    <button class="btnComentar buttonaccep btnCerrarModal2" name="comentar">Comentar</button>

                </div>
            </div>

        </div>
         {{> footer }}
        <script src="/static/js/funciones.js"></script>
        <script>

            const div = document.querySelector('div[name="comments"]');


            function cargarComen() {

                var idCurso = $(' p[name="cursoid"]').attr('id');
                var idtema = $(' p[name="idtema"]').attr('id');
                if (idtema == 'term') {
                    console.log("Curso terminado")
                } else {



                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/inicio/cargarComentarios/' + idCurso + '/' + idtema

                    }).done(function (dataComentarios) {

                        if (dataComentarios.length == 0) {
                            div.innerHTML += '<div class="alert alert-info" role="alert">El tema actual no tiene comentarios</div>'
                        } else {


                            $.ajax({
                                type: 'GET',
                                url: 'http://localhost:3000/inicio/cargarComentariosRespuestas/' + idCurso + '/' + idtema

                            }).done(function (dataRespuestas) {

                                dataComentarios.forEach(element => {


                                    div.innerHTML += (`<div class="container-comments">
                                                    <div class="comments">
                                                    <div class="info-comments">

                                <div class="headerComentario">

                                    <h4>`+ element.nombre + `</h4>
                                    <h5>`+ element.fecha + `</h5>
                                </div>

                                <p>` + element.comentario + `</p><div class="respuestaArea">
                                    <input type="text" class="inputRespuesta" id="respuesta`+ element.cveComentario + `" placeholder="Responder">
                                    <input type="button" class="buttonest" onclick="comentrespuesta(`+ element.cveComentario + `)" value="Responder"></div></div></div></div>`);
                                    dataRespuestas.forEach(elementRes => {
                                        if (element.cveComentario == elementRes.cveComentario) {
                                            div.innerHTML += `<div class="container-comments-request">

                        <div class="comments-request">


                            <div class="info-comments-request">

                                <div class="headerComentario">


                                    <h4>`+ elementRes.nombre + `</h4>
                                    <h5>`+ elementRes.fecha + `</h5>
                                </div>

                                <p>`+ elementRes.respuesta + `</p>

                               
                            </div>

                        </div>


                    </div>`
                                        }


                                    })
                                })
                            });
                        }
                    });
                }
            };
            window.onload = cargarComen();
            $(' input[name="terminado"]').mousedown(function () {

                var id = $(this).attr('id');
                var idCurso = $(' p[name="cursoid"]').attr('id');

                if ($(this).attr('checked')) {
                    var estado = 0;
                } else {
                    var estado = 1;
                }

                $.ajax({
                    type: 'GET',
                    url: 'http://localhost:3000/inicio/updateTemaAvance/' + estado + '/' + id + '/' + idCurso


                }).done(function (data) {
                    console.log(data); // imprimimos la respuesta
                });

            });

            $('button[name="comentar"]').mousedown(function () {

                var idtema = $(' p[name="idtema"]').attr('id');
                var comentario = $('input[name="Comentario"]').val();
                var idusuario = $('p[name="cveusuario"]').attr('id');
                if (comentario.length == 0) {
                    alert('ingrese un comentario');
                    return false;
                } else {


                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/inicio/insertarComentario/' + idtema + '/' + idusuario + '/' + comentario

                    }).done(function (data) {
                        div.innerHTML = ""
                        cargarComen(); // imprimimos la respuesta
                    });
                }
            });
            function comentrespuesta(cveComentario) {
                id = "respuesta" + cveComentario
                var comentario = $('input[id="' + id + '"]').val();
                var idusuario = $('p[name="cveusuario"]').attr('id');
                if (comentario.length == 0) {
                    alert('ingrese un comentario');
                    return false;
                } else {

                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:3000/inicio/insertarComentarioRespuesta/' + cveComentario + '/' + idusuario + '/' + comentario

                    }).done(function (data) {
                        div.innerHTML = ""
                        cargarComen(); // imprimimos la respuesta
                    });
                }
            }

        </script>


        <script src="/static/js/jquery-3.6.0.js"></script>

       