<script src="https://cdn.tailwindcss.com"></script>

<div style="display: flex; justify-content: center; padding-top: 40px;">
    <img src="/static/img/logo.png" style="width:auto; height:90px;" alt="Imagen no disponible">
</div>
<div class="block mx-auto my-12 p-8 bg-white w-2/4 border border-gray-200 rounded-lg shadow-lg text-gray-800"
    id="Datos">

    <h1 class="text-3xl  font-bold text-center">Login</h1>
    <br>
    {{#if validaciones}}
    {{#each validaciones}}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{this.msg}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
    {{/if}}

    {{#if error }}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{error}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}

    <!--{{#if flash}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{flash}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/if}}-->

    <form action="/" method="POST" class="mt-4">

        <input type="email" name="email" placeholder="Email" {{#if valores}} value='{{valores.email}}' {{/if}}
            class="border border-gray-200 w-full text-lg placeholder-gray-250 p-2 my-2 bg-gray-200 focus:bg-white"
            required>

        <input type="password" name="password" placeholder="Password" {{#if valores}} value='{{valores.password}}'
            {{/if}}
            class="border border-gray-200 w-full text-lg placeholder-gray-250 p-2 my-2 bg-gray-200 focus:bg-white"
            required>

        <!-- Se cambio el siguente boton -->
        <button onmouseover="pintar('#0f0')" onmouseout="pintar('#FFFFFF')" type="submit"
            class="rounded-md bg-blue-400 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Iniciar</button>



    </form>
    <div style="display: flex; justify-content: space-between;">

        <a href="/recContra" style="color: blue;">Recuperar contraseña</a>
        <a href="/registrar" style="color: blue;">¿No tienes cuenta?</a>
    </div>

</div>